@model WeatherApplication.Models.WeatherDataModel


<div class="container-sm">
    <form class="form" method="get" asp-action="GetWeatherData" asp-controller="Home"> 
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Daniel's Wheather Application</h1>
            <br />
        </div>
    </div>
    <div class="row">
            <div class="input-group">
                <input type="search" class="form-control rounded-3" placeholder="Search" aria-label="Search" aria-describedby="search-addon"
                       asp-for="@Model.Location"/>
                <button type="submit" class="btn btn-primary rounded-3">search</button>
            </div>         
           <span asp-validation-for="Location" class="text-danger"></span>
            <span class="text-danger">@ViewBag.errorMessage</span>
    </div>
    <br/>
    </form>

    @if (Model.CurrentTemperature != null)
    {
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th scope="col">Location</th>
                    <th scope="col">Current Temperature</th>
                    <th scope="col">Maximum Temperature</th>
                    <th scope="col">Minimum Temperature</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Sunrise</th>
                    <th scope="col">Sunset</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Location</td>
                    <td>@Model.CurrentTemperature</td>
                    <td>@Model.MaxTemperature</td>
                    <td>@Model.MinTemperature</td>
                    <td>@Model.Humidity</td>
                    <td>@Model.Sunrise</td>
                    <td>@Model.Sunset</td>
                </tr>
            </tbody>

        </table>
    
    }

</div>

@section Scripts 
{ 

    <partial name="_ValidationScriptsPartial"/>

}
